.move{
    border-radius: 10px;
    background: red;
    width: 250px;
    height: 100px;
    margin-top: 20px;
    text-align: center;
    color: white;
    line-height: 100px;
    font-size: 20px;
    font-weight: bold;
    transition-property: translateX();
    transition-duration: 1000ms;
}
.move:hover{
    transform: translateX(600px);
}
#ease{
    transition-timing-function: ease;
}
#linear{
    transition-timing-function: linear;
}
#ease-in{
    transition-timing-function: ease-in;
}
#ease-out{
    transition-timing-function: ease-out;
}
#ease-in-out{
    transition-timing-function: ease-in-out;
}