body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a{
    overflow: hidden;
    text-decoration: none;
    color: #272727;
    font-size: 45px;
    padding: 40px 80px;
    border: 5px solid #272727;
    position:relative;
    
}
a::before{
    content: '';
    background: yellow;
    height: 100%;
    width: 100%;
    position: absolute;
    left:0;
    top: 0;
    z-index: -1;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    transition: transform 1000ms;
}
a:hover::before{
    transform: rotate(0deg);
}