@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300&display=swap');body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 15%);
    font-family: 'BenchNine';
}

button{
    border: 0;
    background-color: #c47135;
    font-size: 40px;
    padding: 30px 70px;
    color: white;
    text-transform: uppercase;
    position: relative;
    transition: all 500ms;
}

button::before{
    content: "";
    position: absolute;
    left:-7px;
    top: -7px;
    width: 25%;
    height: 40%;
    border-left: 3px solid #c47135;
    border-top: 3px solid #c47135;
    transition: all 500ms;
}
button:hover::before, button:hover::after{
    width: 100%;
    height: 100%;
}

button::after{
    content: "";
    position: absolute;
    right: -7px;
    bottom: -7px;
    width: 25%;
    height: 40%;
    border-right: 3px solid #c47135;
    border-bottom: 3px solid #c47135;
    transition: all 500ms;
}