body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
    background: #272727;
}

button{
    overflow: hidden;
    border: 0;
    background: transparent;
    color: white;
    font-size: 40px;
    padding: 40px 80px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 15px;
}
button::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: white;
    transition: all 500ms;
}
button:hover::before{
    left: 0;
}

button::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: white;
    transition: all 500ms;
}
button:hover::after{
    right: 0;
}

button span::before{
    content: "";
    position: absolute;
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background: white;
    transition: all 500ms;
}
button:hover span::before{
    top:0;
}

button span::after{
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: white;
    transition: all 500ms;
}
button:hover span::after{
    bottom: 0;
}