body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

a{
    overflow: hidden;
    text-decoration: none;
    font-size: 25px;
    color: black;
    text-transform: capitalize;
    position: relative;
    width: 160px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transition: all 500ms;
}

a span{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid black;
    z-index: -1;
    transition: all 500ms;
}

span::before{
    content: "";
    position: absolute;
    width: 8%;
    height: 500%;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 500ms;
}

a:hover span::before{
    width: 100%;
    background: black;
    transform: translate(-50%, -50%) rotate(60deg);
}

a:hover{
    color: white;
}