body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
}
button:hover{
    color: white;
}
button{
    overflow: hidden;
    position: relative;
    color: black;
    font-size: 22px;
    border: 5px solid black;
    padding: 20px 40px;
    background-color: transparent;
    transition: all 500ms; 
}

button:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    opacity: 0;
    transition: all 500ms;
}
/*rotate == rotateZ*/
button:hover::before{
    opacity: 1;
    transform: rotate(15deg);
}
button span{
    position: relative;
    color:transparent;
}
button span::before{
    content: "B";
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    transition: all 500ms;
}

button:hover span::before{
    font-size: 40px;
    color: white;
    transform: rotate(360deg) translate(-10px, -15px);
}