body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a{
    color:#272727;
    border: 5px solid #272727;
    padding: 40px 80px;
    font-size: 45px;
    position: relative;
}
a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #272727;
    width: 100%;
    height: 100%;
    transform: rotateX(90deg);
    z-index: -1;
    transition: transform 1000ms;
    transition-timing-function: ease-in-out;
}
a::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #272727;
    width: 100%;
    height: 100%;
    transform: rotateY(90deg);
    z-index: -1;
    transition: transform 1000ms;
    transition-timing-function: ease-in-out;
}
a:hover::before{
    transform: rotateX(0deg);
}
a:hover::after{
    transform: rotateY(0deg);
}
a:hover{
    color: white;
}