body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana;
    background: #272727;
}

a{
    overflow: hidden;
    text-decoration: none;
    padding: 40px 80px;
    color: #00aeff;
    font-size: 30px;
    letter-spacing: 8px;
    text-transform: uppercase;
    border: 3px solid hsl(199, 100%, 50%);
    position: relative;
    transition: all 800ms;
}

.wave{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: calc(100% + 22px);
    background: #00aeff;
    transition: all 800ms;
}
a:hover .wave{
    top: 0;
}
a:hover{
    color: white;
}
.wave::before{
    content: "";
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    height: 22px;
    background: url(wave.png);
    animation: wavy 1000ms linear infinite;
    transition: all 800ms;
}

@keyframes wavy{
    0% { background-position-x: 0;}
    100% { background-position-x: 226px;}
}