body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #272727;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 45px;
    color: yellow;
    padding: 40px 80px;
    /* background: yellow; */
    position: relative;
}
a::before, a::after{
    content:"";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: yellow;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    opacity: 0;
    transition: all 300ms;
}
a::before{
    left: 0;
    box-shadow: -100px 0 yellow;
}
a::after{
    right: 0;
    box-shadow: 100px 0 yellow;
}

a:hover::before{
    left: 50%;
    box-shadow: 30px 0 yellow;
    transform: translateX(-50%);
    opacity: 1;
}
a:hover::after{
    right: 50%;
    box-shadow: -30px 0 yellow;
    transform: translateX(50%);
    opacity: 1;
}
span{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: yellow;
    border-radius: 8px;
    transform: scale(0);
    transition: all 0.3s;
    z-index: -1;
}
a:hover span{
    transform: scale(1);
    transition-delay: 0.3s;
}

a:hover{
    color: #262626;
    transition-delay: 0.3s;
}