body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    overflow: hidden;
    position: relative;
    font-size: 45px;
    padding: 40px 80px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: all 1000ms;

}

a::before{
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    width: 100%;
    height: 100%;
    background: #20caff;
    z-index: -1;
    mix-blend-mode: multiply;
    transform-origin: top;
    transition: all 500ms;
}

a:hover::before{
    top: -8px;
    left: 0;
    transform: rotateX(75deg);
}

a::after{
    content: "";
    position: absolute;
    left: 5px;
    top: 5px;
    width: 100%;
    height: 100%;
    background: #ff7675;
    z-index: -1;
    mix-blend-mode: multiply;
    transform-origin: bottom;
    transition: all 500ms;
}

a:hover::after{
    top: 8px;
    left: 0;
    transform: rotateX(-75deg);
}
a:hover{
    color: #272727;
}