body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a{
    overflow: hidden;
    color: #351453;
    font-size: 45px;
    border: 3px solid #351453;
    padding: 40px 80px;
    position: relative;
}
a::before{
    content: '';
    width: 100%;
    height: 100%;
    background: #351453;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-380px);
    transition: transform 1000ms;
    transition-timing-function: ease-in-out;
    z-index: -1;
}
a:hover::before{
    transform: translateX(0px);
}
a:hover{
    color: white;
}