body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a{
    overflow: hidden;
    text-decoration: none;
    font-size: 45px;
    padding: 40px 80px;
    color: transparent;
    border: 5px solid #272727;
    position: relative;
}
a::before{
    color: #272727;
    content: 'Hover me';
    position: absolute;
    background: yellow;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1000ms;
}
a::after{
    color: #272727;
    content: 'Hover me';
    position: absolute;
    background: yellow;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-100%, 100%);
    transition: transform 1000ms;
}
a:hover::before{
    transform: translate(100%, -100%);
}
a:hover::after{
    transform: translate(0, 0);
}