body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #272727;
    font-family: Verdana;
}
a{
    overflow: hidden;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 45px;
    padding: 40px 80px;
    color: yellow;
    border: 5px solid yellow;
    font-weight: 300px;
    position: relative;
    transition: all 300ms;
    transition-timing-function: ease-in-out;
}

a::before, a::after, span::before, span::after{
    content: "";
    width: 25%;
    height: 100%;
    position: absolute;
    background: yellow;
    z-index: -1;
    transition: all 500ms;
}

a::before{
    top: 0;
    left: -25%;
    transition-delay: 100ms;
}
a:hover::before{
    top: 0;
    left: 0;
}

a::after{
    top: -100%;
    left: 25%;
    transition-delay: 200ms;
}
a:hover::after{
    top: 0%;
}

span::before{
    top: 100%;
    right: 25%;
    transition-delay: 300ms;
}
a:hover span::before{
    top: 0%;
    right: 25%;
}

span::after{
    top: 0;
    right: -25%;
    transition-delay: 400ms;
}
a:hover span::after{
    right: 0;
}
a:hover{
    color: #272727;
}