body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
a{
    overflow: hidden;
    text-decoration: none;
    padding: 40px 80px;
    font-size: 45px;
    border: 5px solid #272727;
    color: transparent;
    position: relative;
    letter-spacing: 2px;
}
a::before{
    content: 'Hover me';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: yellow;
    color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1000ms;
}
a:hover::before{
    left: 100%;
    opacity: 0;
    transform: scale(0) rotateY(360deg);
}
a::after{
    content: 'Hover me';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background: yellow;
    color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
    transform: scale(0);
    transition: all 1000ms;
}
a:hover::after{
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity:1;
}