button{
    width: 290px;
    height: 100px;
    font-size: 20px;
    border: 0;
    color: white;
    background: blue;
    transition-property: background;
    transition-duration: 900ms;
}
button{
    background: green;
}